flow.json
{
  "$schema": "https://power-automate-tools.local/flow-editor.json#",
  "connectionReferences": {
    "shared_office365": {
      "connectionName": "shared-office365-34efe101-203d-4790-8f3f-d194e3557aae",
      "source": "Embedded",
      "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
      "displayName": "Office 365 Outlook",
      "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/v1.0.1763/1.0.1763.4311/office365/icon.png",
      "brandColor": "#0078D4",
      "tier": "Standard",
      "apiName": "office365",
      "isProcessSimpleApiReferenceConversionAlreadyDone": false
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      }
    },
    "triggers": {
      "manual": {
        "metadata": {
          "operationMetadataId": "13f56e41-4d11-4173-8501-9c19d703709c"
        },
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              },
              "frequency": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "coverFee": {
                "type": "boolean"
              },
              "livemode": {
                "type": "boolean"
              },
              "address": {
                "type": "object",
                "properties": {
                  "line1": {
                    "type": "string"
                  },
                  "line2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "email",
              "firstname",
              "lastname",
              "amount",
              "frequency"
            ]
          },
          "triggerAuthenticationType": "All"
        }
      }
    },
    "actions": {
      "SendCheckoutSessionResponse": {
        "runAfter": {
          "HandleDonationType": [
            "Succeeded"
          ],
          "HandleStripeError": [
            "Skipped"
          ]
        },
        "metadata": {
          "operationMetadataId": "6f58b406-a76b-42d6-bd39-8c310b8ea84d"
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "body": {
            "id": "@if(equals(triggerBody()?['frequency'],'onetime'),body('CreateOneTimeCheckoutSession')?['id'],body('CreateRecurringCheckoutSession')?['id'])"
          }
        }
      },
      "SearchStripeCustomer": {
        "runAfter": {
          "ValidateRequestParameters": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "940284a3-2ca4-4655-8ef6-3d1618cbcb52"
        },
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "https://api.stripe.com/v1/customers/search",
          "headers": {
            "Authorization": "@{if(triggerBody()['livemode'],outputs('Key')['live'],outputs('Key')['test'])}"
          },
          "queries": {
            "query": "email:'@{uriComponent(triggerBody()?['email'])}' AND name:'@{uriComponent(concat(triggerBody()?['firstname'], ' ', triggerBody()?['lastname']))}'"
          }
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "CheckIfNewCustomerNeeded": {
        "actions": {
          "CreateStripeCustomer": {
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "c17dacd4-a090-459e-bd5b-c2259350601f"
            },
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://api.stripe.com/v1/customers",
              "headers": {
                "Authorization": "@{if(triggerBody()['livemode'],outputs('Key')['live'],outputs('Key')['test'])}",
                "Content-Type": "application/x-www-form-urlencoded"
              },
              "body": "email=@{uriComponent(triggerBody()?['email'])}&name=@{uriComponent(concat(triggerBody()?['firstname'],' ',triggerBody()?['lastname']))}&phone=@{uriComponent(triggerBody()?['phone'])}&address[line1]=@{uriComponent(triggerBody()?['address']?['line1'])}&address[line2]=@{uriComponent(triggerBody()?['address']?['line2'])}&address[city]=@{uriComponent(triggerBody()?['address']?['city'])}&address[state]=@{uriComponent(triggerBody()?['address']?['state'])}&address[postal_code]=@{uriComponent(triggerBody()?['address']?['postal_code'])}&address[country]=@{uriComponent(triggerBody()?['address']?['country'])}&shipping[name]=@{uriComponent(triggerBody()?['name'])}&shipping[phone]=@{uriComponent(triggerBody()?['phone'])}&shipping[address][line1]=@{uriComponent(triggerBody()?['address']?['line1'])}&shipping[address][line2]=@{uriComponent(triggerBody()?['address']?['line2'])}&shipping[address][city]=@{uriComponent(triggerBody()?['address']?['city'])}&shipping[address][state]=@{uriComponent(triggerBody()?['address']?['state'])}&shipping[address][postal_code]=@{uriComponent(triggerBody()?['address']?['postal_code'])}&shipping[address][country]=@{uriComponent(triggerBody()?['address']?['country'])}&invoice_settings[custom_fields][0][name]=Frequency&invoice_settings[custom_fields][0][value]=@{uriComponent(triggerBody()?['frequency'])}&invoice_settings[custom_fields][1][name]=Category&invoice_settings[custom_fields][1][value]=@{uriComponent(triggerBody()?['category'])}&invoice_settings[custom_fields][2][name]=@{string('Covering Fees')}&invoice_settings[custom_fields][2][value]=@{string(triggerBody()?['coverFee'])}"
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            }
          }
        },
        "runAfter": {
          "SearchStripeCustomer": [
            "Succeeded"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@length(body('SearchStripeCustomer')['data'])",
                0
              ]
            }
          ]
        },
        "metadata": {
          "operationMetadataId": "76d2ff17-401f-4b0c-9fe6-9af8f370af1f"
        },
        "type": "If"
      },
      "HandleDonationType": {
        "actions": {
          "CreateOneTimeCheckoutSession": {
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "7a660430-6ac4-459f-b753-f2eb22ab67a6"
            },
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://api.stripe.com/v1/checkout/sessions",
              "headers": {
                "Authorization": "@{if(triggerBody()['livemode'],outputs('Key')['live'],outputs('Key')['test'])}",
                "Content-Type": "application/x-www-form-urlencoded"
              },
              "queries": {
                "customer": "@{outputs('ComposeSelectedCustomerID')}",
                "success_url": "https://refugeintl.org/thankyou",
                "line_items[0][price_data][currency]": "USD",
                "line_items[0][price_data][product_data][name]": "@{triggerBody()?['category']}",
                "line_items[0][price_data][unit_amount]": "@{triggerBody()?['amount']}",
                "line_items[0][quantity]": "1",
                "mode": "payment"
              }
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            }
          },
          "SendOneTimeDonationEmail": {
            "runAfter": {
              "CreateOneTimeCheckoutSession": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "f6416d60-8e78-4882-869a-89f588861b3b"
            },
            "type": "OpenApiConnection",
            "inputs": {
              "host": {
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                "connectionName": "shared_office365",
                "operationId": "SendEmailV2"
              },
              "parameters": {
                "emailMessage/To": "@if(triggerBody()['livemode'],'info@refugeintl.org','micah@refugeintl.org')",
                "emailMessage/Subject": "New One-Time Donation - @{triggerBody()?['firstname']} @{triggerBody()?['lastname']} - $@{div(float(triggerBody()?['amount']),100)}",
                "emailMessage/Body": "<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><div style='text-align: center; padding: 20px 0;'><img src='https://images.squarespace-cdn.com/content/v1/5af0bc3a96d45593d7d7e55b/c8c56eb8-9c50-4540-822a-5da3f5d0c268/refuge-logo-edit+%28circle+with+horizontal+RI+name%29+-+small.png' alt='Refuge International Logo' style='max-width: 200px;'></div><div style='background-color: #BD2135; color: white; padding: 20px; text-align: center; margin-bottom: 20px;'><h1 style='margin: 0;'>New One-Time Donation</h1></div><div style='background-color: #f8f8f8; padding: 20px; border-radius: 5px; margin-bottom: 20px;'><table style='width: 100%; border-collapse: collapse;'><tr><td style='padding: 10px; border-bottom: 1px solid #ddd; width: 150px;'><strong>Donor Name:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{triggerBody()?['firstname']} @{triggerBody()?['lastname']}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Email:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{triggerBody()?['email']}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Amount:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>$@{div(float(triggerBody()?['amount']),100)}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Category:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{triggerBody()?['category']}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Covering Fees:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{if(triggerBody()?['coverFee'],'Yes','No')}</td></tr></table></div><div style='text-align: center;'><a href='https://dashboard.stripe.com/payments' style='display: inline-block; background-color: #BD2135; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; margin-top: 20px;'>View Payment Details</a></div></div>",
                "emailMessage/Importance": "Normal"
              },
              "authentication": "@parameters('$authentication')"
            }
          }
        },
        "runAfter": {
          "ComposeSelectedCustomerID": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {
            "CreateRecurringCheckoutSession": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9639e674-3166-4f34-89f0-c8213840c41c"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.stripe.com/v1/checkout/sessions",
                "headers": {
                  "Authorization": "@{if(triggerBody()['livemode'],outputs('Key')['live'],outputs('Key')['test'])}",
                  "Content-Type": "application/x-www-form-urlencoded"
                },
                "queries": {
                  "customer": "@{outputs('ComposeSelectedCustomerID')}",
                  "success_url": "https://refugeintl.org/thankyou",
                  "line_items[0][price_data][currency]": "USD",
                  "line_items[0][price_data][product_data][name]": "@{triggerBody()?['category']}",
                  "line_items[0][price_data][recurring][interval]": "@{if(equals(triggerBody()?['frequency'],'month'),'month',if(or(equals(triggerBody()?['frequency'],'week'),equals(triggerBody()?['frequency'],'biweek')),'week',if(equals(triggerBody()?['frequency'],'year'),'year','month')))}",
                  "line_items[0][price_data][recurring][interval_count]": "@{if(equals(triggerBody()?['frequency'],'biweek'),2,1)}",
                  "line_items[0][price_data][unit_amount]": "@{triggerBody()?['amount']}",
                  "line_items[0][quantity]": "1",
                  "mode": "subscription"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "SendRecurringDonationEmail": {
              "runAfter": {
                "CreateRecurringCheckoutSession": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "43366211-e99c-4850-b77a-3e2ea1b0f061"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "@if(triggerBody()['livemode'],'info@refugeintl.org','micah@refugeintl.org')",
                  "emailMessage/Subject": "New @{if(equals(triggerBody()?['frequency'],'month'),'Monthly',if(equals(triggerBody()?['frequency'],'biweek'),'Bi-Weekly',if(equals(triggerBody()?['frequency'],'week'),'Weekly',if(equals(triggerBody()?['frequency'],'year'),'Annual','One-Time'))))} Donation - @{triggerBody()?['firstname']} @{triggerBody()?['lastname']} - $@{div(float(triggerBody()?['amount']),100)}",
                  "emailMessage/Body": "<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><div style='text-align: center; padding: 20px 0;'><img src='https://images.squarespace-cdn.com/content/v1/5af0bc3a96d45593d7d7e55b/c8c56eb8-9c50-4540-822a-5da3f5d0c268/refuge-logo-edit+%28circle+with+horizontal+RI+name%29+-+small.png' alt='Refuge International Logo' style='max-width: 200px;'></div><div style='background: linear-gradient(135deg, #BD2135 0%, #8B0000 100%); color: white; padding: 20px; text-align: center; margin-bottom: 20px;'><h1 style='margin: 0;'>New @{if(equals(triggerBody()?['frequency'],'month'),'Monthly',if(equals(triggerBody()?['frequency'],'biweek'),'Bi-Weekly',if(equals(triggerBody()?['frequency'],'week'),'Weekly',if(equals(triggerBody()?['frequency'],'year'),'Annual','One-Time'))))} Donation</h1></div><div style='background-color: #f8f8f8; padding: 20px; border-radius: 5px; margin-bottom: 20px; border-left: 5px solid #BD2135;'><table style='width: 100%; border-collapse: collapse;'><tr><td style='padding: 10px; border-bottom: 1px solid #ddd; width: 150px;'><strong>Donor Name:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{triggerBody()?['firstname']} @{triggerBody()?['lastname']}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Email:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{triggerBody()?['email']}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Amount:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>$@{div(float(triggerBody()?['amount']),100)}@{if(not(equals(triggerBody()?['frequency'],'onetime')), concat(' ', if(equals(triggerBody()?['frequency'],'month'),'monthly',if(equals(triggerBody()?['frequency'],'biweek'),'every two weeks',if(equals(triggerBody()?['frequency'],'week'),'weekly',if(equals(triggerBody()?['frequency'],'year'),'annually',''))))), '')}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Category:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{triggerBody()?['category']}</td></tr><tr><td style='padding: 10px; border-bottom: 1px solid #ddd;'><strong>Covering Fees:</strong></td><td style='padding: 10px; border-bottom: 1px solid #ddd;'>@{if(triggerBody()?['coverFee'],'Yes','No')}</td></tr></table></div><div style='text-align: center;'><a href='https://dashboard.stripe.com/payments' style='display: inline-block; background-color: #BD2135; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; margin-top: 20px;'>View Payment Details</a></div></div>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          }
        },
        "expression": {
          "and": [
            {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['frequency']",
                    "onetime"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['frequency']",
                    "one-time"
                  ]
                }
              ]
            }
          ]
        },
        "metadata": {
          "operationMetadataId": "cb989be0-1690-4e7a-bf43-d3fbd573ba93"
        },
        "type": "If"
      },
      "Key": {
        "runAfter": {
          "SendDebugEmail": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "0b9c69ad-7a49-4045-a270-3a9b9ccce4d5"
        },
        "type": "Compose",
        "inputs": {
          "test": "Bearer sk_test_51CSa4IBJf9YYVP9mZGPLSqn8FCif84cfg46w4CidGBiojz6iwCXAUNm1AV2HW8wjiTqIR7HX2yZU5habkxDpsZ0n00wpQurlO7",
          "live": "Bearer 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",
          "active": "Bearer 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"
        },
        "runtimeConfiguration": {
          "secureData": {
            "properties": [
              "inputs"
            ]
          }
        }
      },
      "SendDebugEmail": {
        "runAfter": {},
        "metadata": {
          "operationMetadataId": "deade75a-8d39-4b8f-ac9a-02e16bb21335"
        },
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
            "connectionName": "shared_office365",
            "operationId": "SendEmailV2"
          },
          "parameters": {
            "emailMessage/To": "micah@refugeintl.org",
            "emailMessage/Subject": "Debug: New Donation Submission - @{triggerBody()?['firstname']} @{triggerBody()?['lastname']}",
            "emailMessage/Body": "<p>@{triggerBody()}</p>",
            "emailMessage/Importance": "Normal"
          },
          "authentication": "@parameters('$authentication')"
        }
      },
      "InitializeProcessing": {
        "runAfter": {
          "Key": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "6c567049-ffb2-4c0c-8487-4a1636dfc926"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "processingStarted",
              "type": "boolean",
              "value": true
            }
          ]
        }
      },
      "ValidateRequestParameters": {
        "actions": {
          "ContinueProcessing": {
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "d57dfb1c-d42b-4270-be61-955a4b444ecf"
            },
            "type": "Compose",
            "inputs": true
          }
        },
        "runAfter": {
          "InitializeProcessing": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {
            "RespondWithValidationError": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e971a2c5-db12-4a1b-b4ca-5698e442201a"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "body": {
                  "error": "Missing required fields. Please provide email, firstname, lastname, amount, and frequency."
                }
              }
            }
          }
        },
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@triggerBody()?['email']",
                  null
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@triggerBody()?['firstname']",
                  null
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@triggerBody()?['lastname']",
                  null
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@triggerBody()?['amount']",
                  null
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@triggerBody()?['frequency']",
                  null
                ]
              }
            }
          ]
        },
        "metadata": {
          "operationMetadataId": "8d3797ee-98dd-4e15-8d73-e7c4c85cbc1f"
        },
        "type": "If"
      },
      "ComposeSelectedCustomerID": {
        "runAfter": {
          "CheckIfNewCustomerNeeded": [
            "Succeeded"
          ],
          "HandleCustomerError": [
            "Skipped"
          ],
          "HandleCustomerCreationError": [
            "Skipped"
          ]
        },
        "metadata": {
          "operationMetadataId": "a6cee0a0-c76f-41db-89ef-4a1b4e68056e"
        },
        "type": "Compose",
        "inputs": "@if(equals(length(body('SearchStripeCustomer')['data']),0),body('CreateStripeCustomer')?['id'],first(body('SearchStripeCustomer')?['data'])?['id'])"
      },
      "HandleStripeError": {
        "actions": {
          "RespondWithStripeError": {
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "b5122a39-4245-4459-aed1-4aced39f246e"
            },
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 500,
              "body": {
                "error": "Failed to process payment. Please try again later."
              }
            }
          }
        },
        "runAfter": {
          "HandleDonationType": [
            "Failed"
          ]
        },
        "metadata": {
          "operationMetadataId": "3e57caa2-89d1-40a1-8408-9cca185201ab"
        },
        "type": "Scope"
      },
      "HandleCustomerError": {
        "actions": {
          "RespondWithCustomerError": {
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "0810a2d2-167d-46a7-997b-6ad139f7aab7"
            },
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 500,
              "body": {
                "error": "Failed to process customer information. Please try again later."
              }
            }
          }
        },
        "runAfter": {
          "SearchStripeCustomer": [
            "Failed"
          ]
        },
        "metadata": {
          "operationMetadataId": "dfa3e15a-7b3f-44b3-9cf1-97a0116a1dca"
        },
        "type": "Scope"
      },
      "HandleCustomerCreationError": {
        "actions": {
          "RespondWithCustomerCreationError": {
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "043e697d-9e5e-46b5-98c7-2b99cff44448"
            },
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 500,
              "body": {
                "error": "Failed to create customer profile. Please try again later."
              }
            }
          }
        },
        "runAfter": {
          "CheckIfNewCustomerNeeded": [
            "Failed"
          ]
        },
        "metadata": {
          "operationMetadataId": "20cf9061-1bd4-4a3a-8c4c-e7749eb2dab8"
        },
        "type": "Scope"
      }
    },
    "outputs": {}
  }
}
